@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
 font-family: "Open Sans", sans-serif;
 overflow-x: hidden;
 font-size: 16px;
 padding: 0 20%;
}

.menu-bar {
 display: flex;
 color: #888;
}
.menu-module {
 display: flex;
 display: row;
 margin: auto;
 margin-right: 0;
}

.list-module {
 display: flex;
 list-style-type: none;
 padding: 0;
 margin: auto;
}

.menu-module a {
 margin: 0 10px;
 font-weight: bold;
}

.menu-module li a {
 color: #888;
 text-decoration: none;
}

.btn {
 display: block;
 height: 100%;
 color: white;
 border-radius: 5px;
 padding: 8px 16px;
 text-decoration: none;
 background: #4a90e2;
 border-color: #4a90e2;
}

.logo {
 max-height: 1.85714286em;
 max-width: none;
}

.text-center {
 text-align: center;
 vertical-align: middle;
}

.cover {
 padding: 70px 0;
 font-size: 1.5em;
 font-weight: lighter;
 height: 400px;
}

.btn-2 {
 display: inline;
}

.cover h1 {
 color: #4a90e2;
 font-weight: lighter;
}

.lighter-black {
 color: #252525;
 font-weight: lighter;
}

.gray {
 color: #808080;
 font-weight: lighter;
}

.feature {
 font-size: 20px;
}

.feature-text h2 {
 margin: 0 0 26px;
}
