@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.feature-box {
 font-family: "Open Sans", sans-serif;
 color: #666666;
 box-sizing: border-box;
 padding: 35px;
 border: 1px solid #ececec;
 display: flex;
 flex-direction: column;
 justify-items: center;
 align-items: flex-start;
 padding: 40px;
 margin: 0 10px;
}

.feature-box h4,
.feature-box p {
 text-align: center;
 word-wrap: break-word;
}

.container-feature {
 display: flex;
 justify-content: center;
 align-items: center;
}
